{% import 'lk-quickform::macros' as quickform %}

<!-- start checkbox -->
{{ quickform.element_wrap_start(element) }}
{{ quickform.element_prepend(element) }}
<div class="checkbox{{ element.is_inline ? '-inline':'' }}{% if element.error %} has-error{% endif %}">
    <label for="{{ element.id }}">
        {{ element.html|raw }}
        {{ element.label|raw }}
    </label>
    {{ quickform.element_error(element) }}
    {{ quickform.element_desc(element) }}
</div>
{{ quickform.element_append(element) }}
{{ quickform.element_wrap_end(element) }}

<!-- end checkbox -->