{% import 'lk-quickform::macros' as quickform %}

<!-- start group_radio_button -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group">
    <div class="row">
        <div class="col-lg-12 {{ quickform.element_wrap_success_error(element, is_submited) }}">
            {{ quickform.element_label(element)|raw }}
        </div>
        <div class="col-lg-12">
            <div class="btn-group" data-toggle="buttons">
                {% for el in element.elements %}
                    <label class="btn btn-default{{ el.checked ? ' active' : '' }}">
                        {{ el.html|raw }} {{ el.label|raw }}
                    </label>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-12">
            {{ quickform.element_error(element) }}
            {{ quickform.element_desc(element) }}
        </div>
    </div>
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end group_radio_button -->