{% import 'lk-quickform::macros' as quickform %}

<!-- start checkbox_radio -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group {{ quickform.element_wrap_success_error(element, is_submited) }}">
    {{ quickform.element_label(element)|raw }}
    <div class="row">
        <div class="col-lg-12">
        </div>
        <div class="col-lg-12">
            {% if element.is_inline %}
                {% for el in element.elements %}
                    <label class="checkbox-inline">
                        {{ el.html|raw }} {{ el.label|raw }}
                    </label>
                {% endfor %}
            {% else %}
                {% for el in element.elements %}
                    <label class="checkbox-inline">
                        {{ el.html|raw }} {{ el.label|raw }}
                    </label>
                    {#<div class="checkbox">#}
                        {#<label>#}
                            {#{{ el.html|raw }} {{ el.label|raw }}#}
                        {#</label>#}
                    {#</div>#}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-12">
            {{ quickform.element_error(element) }}
            {{ quickform.element_desc(element) }}
        </div>
    </div>
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end checkbox_radio -->