{% import 'lk-quickform::macros' as quickform %}

<!-- start group -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group {{ quickform.element_wrap_success_error(element, is_submited) }}">
    {{ quickform.element_label(element) }}
    <div class="row">
        <div class="col-lg-12">
            <div{{ element.attributes|raw }}>
                <div class="row">
                    {{ quickform.render_elements(element.elements, meta) }}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {{ quickform.element_desc(element) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end group -->