{% import 'lk-quickform::macros' as quickform %}

<!-- start select2 -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group{% if element.error %} has-error{% endif %}">
    {{ quickform.element_label(element) }}
    {{ quickform.element_prepend(element) }}
    <div>{{ element.html|raw }}
    </div>
    {{ quickform.element_append(element) }}
    {{ quickform.element_example(element) }}
    {{ quickform.element_desc(element) }}
    {{ quickform.element_error(element) }}
    {{ quickform.element_blind(element) }}
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end select2 -->