{% import 'lk-quickform::macros' as quickform %}

<!-- start text -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group {{ quickform.element_wrap_success_error(element, is_submited) }}">
    {{ quickform.element_label(element) }}
    <div class="row">
        <div class="col-lg-12">
            {{ element.html|raw }}
        </div>
    </div>
    {{ quickform.element_desc(element) }}
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end text -->