{% import 'lk-quickform::macros' as quickform %}

<!-- start checkbox -->
{{ quickform.element_wrap_start(element) }}
    {{ element.html|raw }}
{{ quickform.element_wrap_end(element) }}
<!-- end checkbox -->