{% import 'lk-quickform::macros' as quickform %}

<!-- start tb_switch -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group">
    <div class="{% if element.error %} has-error{% endif %}">
        {{ quickform.element_label(element) }}
        {{ quickform.element_prepend(element) }}
        <br>
        {{ element.html|raw }}
        {{ quickform.element_append(element) }}

        {{ quickform.element_desc(element) }}
        {{ quickform.element_error(element) }}
    </div>
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end tb_switch -->