{% import 'lk-quickform::macros' as quickform %}

<!-- start text -->
{{ quickform.element_wrap_start(element) }}
<div class="form-group {{ quickform.element_wrap_success_error(element, is_submited) }}">
    {{ quickform.element_label(element) }}
    {{ quickform.element_prepend(element) }}
    {{ element.html|raw }}
    {{ quickform.element_append(element) }}
    {{ quickform.element_example(element) }}
    {{ quickform.element_desc(element) }}
    {{ quickform.element_error(element) }}
</div>
{{ quickform.element_wrap_end(element) }}
<!-- end text -->